<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/templates/pc/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="css/font-awesome.css" th:href="@{/templates/pc/css/font-awesome.css}"/>
    <link rel="stylesheet" href="css/common.css" th:href="@{/templates/pc/css/common.css}"/>
    <link rel="stylesheet" href="css/style.css" th:href="@{/templates/pc/css/style.css}"/>
    <style>
        .input {
            left:auto;
            right: 0;
            transform: translateY(-50%);
        }
        .input-group input {
            border-radius: 0;
            height: 45px;
            background: rgba(225,225,225,0.9);
            border: 2px solid #88654F;
            border-right: none;
        }
        .input-group span {
            border-radius: 0;
            padding: 12px 18px;
            border: 2px solid #88654F;
            border-left: none;
            background: #EA4235;
            cursor: pointer;
        }
        .glyphicon{
            margin-right: 5px;
        }
        .mian-bg h3{
            font-size:16px;
            font-weight: 700;
            margin: 2px 0 13px;
        }
        .nav-pills{
            background: #fff;
            margin-top: 20px;
        }
        .nav-pills>li>a,.nav-pills>li>a:hover,.nav-pills>li>a:focus{
            border-radius: 0;
            color:#454545;
            background-color: #fff;
        }
        .mian-bg{
            padding-bottom:50px;
        }
        .nav-stacked>li{
            border-bottom: 1px solid #E5E5E5;
        }
        .plus{
            border-radius: 0;
            padding: 3px 15px;
        }
    </style>
</head>
<body>
<header>
    <div class="head-top">
        <div class="container" th:replace="pc/index::top">
            <div class="left">
                <img src="img/user-portrait.png" alt="">
                <span>欢迎,自由</span>
            </div>
            <div class="right">
                <span><i class="glyphicon glyphicon-user"></i>个人中心</span>
                <span style="margin-left: 20px"><i class="glyphicon glyphicon-log-out"></i>退出</span>
            </div>
        </div>
    </div>
    <div class="head-main01">
        <div class="container input" th:replace="pc/index::search">
            <div class="col-sm-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="查找交换书籍名称" aria-label="...">
                   <span class="input-group-addon">
                      <i class="glyphicon glyphicon-search"></i>
                  </span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="查找心愿书籍名称" aria-label="...">
                   <span class="input-group-addon" style="background: #EBE5D7;">
                      <i class="glyphicon glyphicon-search"></i>
                  </span>
                </div>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="mian-bg">
        <div class="container">
            <div class="col-sm-3" th:replace="pc/个人信息管理-已认证::menu('收货地址管理')">
                <ul class="nav nav-pills nav-stacked nav-pills-stacked-example">
                    <li role="presentation"><a href="#"><i class="glyphicon glyphicon-user"></i>个人信息管理</a></li>
                    <li role="presentation"><a href="#"><i class="glyphicon glyphicon-list-alt"></i>我上传的书籍</a></li>
                    <li role="presentation"><a href="#"><i class="glyphicon glyphicon-heart-empty"></i>我的心愿书单</a></li>
                    <li role="presentation" class="active"><a href="#"><i class="glyphicon glyphicon-map-marker"></i>收货地址管理</a></li>
                    <li role="presentation"><a href="#"><i class="glyphicon glyphicon-star-empty"></i>我的收藏</a></li>
                </ul>
                <ul class="nav nav-pills nav-stacked nav-pills-stacked-example">
                    <li role="presentation"><a href="#"><i class="glyphicon glyphicon-user"></i>账户安全</a></li>
                    <li role="presentation"><a href="#"><i class="glyphicon glyphicon-envelope"></i>消息列表</a></li>
                    <li role="presentation"><a href="#"><i class="glyphicon glyphicon-pencil"></i>意见反馈</a></li>
                </ul>
            </div>
            <div class="col-sm-9">
                <p class="bread-nav"><a href="">个人中心></a>收货地址管理</p>
                <div style="background: #fff;padding: 20px;">
                    <div>
                        <h3 class="left">您有<span th:text="${#lists.size(addressList)}">2</span>个收货地址 <span style="font-weight: normal">已保存有效地址(最多设置5个)</span></h3>

                        <button class="btn btn-default plus right"
                                th:if="${#lists.size(addressList)<5}"
                                th:onclick="'goPage(\'/p/user/toaddshippingaddress\')'">+&nbsp;新增收货地址</button>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <td width="14%">收件人</td>
                                <td width="22%">所在地区</td>
                                <td width="22%">详细地址</td>
                                <td width="14%">邮编</td>
                                <td width="14%">收货人手机号</td>
                                <td width="14%">操作</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="address:${addressList}">
                                <td th:text="${address.name}">艾丽斯</td>
                                <td th:text="${address.region}">广东省深圳市龙岗区
                                    回潮街道</td>
                                <td th:text="${address.region}">广东省深圳市龙岗区
                                    回潮街道</td>
                                <td th:text="${address.postCode}">264001</td>
                                <td th:text="${address.mobile}">13123456789</td>
                                <td>
                                    <div>
                                        <a href="javascript:void(0)" th:href="@{'/p/user/tomodifyshippingaddress/'+${address.id}}">修改</a>
                                        <a class="del" href="javascript:void(0)" th:attr="optflag='del', optid=${address.id}" >删除</a>
                                    </div>
                                    <button class="btn btn-default setmoren" th:attr="addressId=${address.id}" th:if="${not address.defaultAddress}" th:onclick="'goPage(\'/p/user/setdefault/'+${address.id}+'\')'" >设为默认</button>
                                    <span class="moren" style="color: #f00" th:attr="addressId=${address.id}" th:if="${address.defaultAddress}">默认地址</span>
                                </td>
                            </tr>
                            <tr th:remove="all">
                                <td>艾丽斯</td>
                                <td>广东省深圳市龙岗区
                                    回潮街道</td>
                                <td>广东省深圳市龙岗区
                                    回潮街道</td>
                                <td>264001</td>
                                <td>13123456789</td>
                                <td>
                                    <div>
                                        <a href="javascript:void(0)">修改</a>
                                        <a class="del" href="javascript:void(0)">删除</a>
                                    </div>
                                    <span class="moren" style="color: #f00">默认地址</span>
                                </td>
                            </tr>
                            <tr th:remove="all">
                                <td>艾丽斯</td>
                                <td>广东省深圳市龙岗区
                                    回潮街道</td>
                                <td>广东省深圳市龙岗区
                                    回潮街道</td>
                                <td>264001</td>
                                <td>13123456789</td>
                                <td>
                                    <div>
                                        <a href="javascript:void(0)">修改</a>
                                        <a class="del" href="javascript:void(0)">删除</a>
                                    </div>
                                    <button class="btn btn-default setmoren">设为默认</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<footer th:replace="pc/index::index_footer">
    <div class="container">
        <div class="footer-nav row">
            <div class="col-sm-3">
                <div>
                    <h3><img src="img/aboutUs.png" alt=""></h3>
                    <p>出品单位:山东省方志馆</p>
                    <p>济南市历下区旅游路25998号</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div>
                    <h3><img src="img/function.png" alt=""></h3>
                    <p>使用过程中遇到的问题，包括产品描述、</p>
                    <p> 使用方法、功能介绍、报告解读，都可以</p>
                    <p> 在这找到答案</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div>
                    <h3><img src="img/contactUs.png" alt=""></h3>
                    <p>0531-82622872</p>
                    <p>Email:fzg@dfz.cn</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div>
                    <h3><img src="img/webapp.png" alt=""></h3>
                    <img src="img/qrcode.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <p class="footer-text">出品单位：济南方志馆 &nbsp;&nbsp;&nbsp;&nbsp; 未经同意，不得转载本网站之所有信息及作品</p>
</footer>
<script src="js/jquery.min.js" th:src="@{/templates/pc/js/jquery.min.js}"></script>
<script type="text/javascript" src="js/bootstrap.min.js" th:src="@{/templates/pc/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="js/zhscomm.js" th:src="@{/templates/pc/js/zhscomm.js}"></script>
<script src="js/region_select.js"  th:src="@{/templates/pc/js/region_select.js}"></script>
<script src="layer/layer.js" th:src="@{/templates/pc/layer/layer.js}"></script>
<script type="text/javascript">
    $('tbody tr').hover(function(){
        $(this).find('.setmoren').css('opacity','1')
    }, function () {
        $(this).find('.setmoren').css('opacity','0')
    })
//
//    //默认地址
//    $(document).delegate('.setmoren','click',function(){
//
//        var addressId=$(this).attr("addressId");
//
//        $.get("/p/user/setdefault/"+addressId, {}, function (data) {
//            if (data == "ok") {
//                var button=' <button class="btn btn-default setmoren">设为默认</button>';
//                var span='<span class="moren" style="color: #f00">默认地址</span>';
//                //删除掉默认的样式
//                $('.moren').parent().append(button);
//                $('.moren').remove();
//                //增加新添加的样式
//                $(this).parent().append(span);
//                $(this).remove();
//            }
//        })
//    })

//
//    //点击删除
//    $('[optflag=del]').click(function () {
//        var optId=$(this).attr("optid");
//
//        var yes=confirm("确认要删除吗？")
//        if(yes){
//            window.location.href='/p/user/deladdress/'+optId;
//        }
////        $('li').has(this).remove();
//    })

    $('.del').click(function () {
        var that=this;
        layer.open({
            content: '确认删除？'
            , btn: ['确认', '取消']
            , yes: function (index) {
                var optId=$(that).attr("optid");
                window.location.href='/p/user/deladdress/'+optId;
                $('tr').has(that).remove();
                layer.close(index);
            }
        });
    })
</script>
</body>
</html>