<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/templates/pc/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="css/font-awesome.css" th:href="@{/templates/pc/css/font-awesome.css}"/>
    <link rel="stylesheet" href="css/common.css" th:href="@{/templates/pc/css/common.css}"/>
    <link rel="stylesheet" href="css/style.css" th:href="@{/templates/pc/css/style.css}"/>
    <style>
        .input-group input {
            border-radius: 0;
            height: 45px;
            background: rgba(225, 225, 225, 0.9);
            border: 2px solid #88654F;
            border-right: none;
        }

        .input-group span {
            border-radius: 0;
            padding: 12px 18px;
            border: 2px solid #88654F;
            border-left: none;
            background: #EA4235;
            cursor: pointer;
        }

        .col-sm-4 img {
            width: 100%;
            margin-bottom: 5px;
        }

        .row {
            margin-top: 20px;
        }

        .input {
            left: auto;
            right: 0;
            transform: translateY(-50%);
        }

        .glyphicon {
            margin-right: 5px;
        }

        .mian-bg h3 {
            font-size: 16px;
            font-weight: 700;
            margin: 2px 0 7px;
        }

        .mian-bg p {
            margin-bottom: 7px;
        }
    </style>
</head>
<body>
<header>
    <div class="head-top">
        <div class="container" th:replace="pc/index::top">
            <div class="left">
                <img src="img/user-portrait.png" alt="">
                <span>欢迎,自由</span>
            </div>
            <div class="right">
                <span><i class="glyphicon glyphicon-user"></i>个人中心</span>
                <span style="margin-left: 20px"><i class="glyphicon glyphicon-log-out"></i>退出</span>
            </div>
        </div>
    </div>
    <div class="head-main01">
        <div class="container input" th:replace="pc/index::search">
            <div class="col-sm-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="查找交换书籍名称" aria-label="...">
                   <span class="input-group-addon">
                      <i class="glyphicon glyphicon-search"></i>
                  </span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="查找心愿书籍名称" aria-label="...">
                   <span class="input-group-addon" style="background: #EBE5D7;">
                      <i class="glyphicon glyphicon-search"></i>
                  </span>
                </div>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="mian-bg">
        <div class="container" style="margin-bottom: 30px">
            <!--<p class="bread-nav"><a href="">图书搜索></a><a href="">经济学></a>经济学18版</p>-->
            <p class="bread-nav"><a href="">图书搜索></a><span th:text="${searchKey}">经济学18版</span></p>
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4" th:each="book:${bookList}">
                            <img src="img/img01.jpg" th:height="130" alt=""
                                 th:src="${book.path == null}?@{/templates/pc/img/img01.jpg}:@{/file/getfile(path=${book.path})}">
                            <h3 th:text="${book.name}">魔鬼经济学</h3>
                            <p>作者：<span th:text="${book.author}">保罗*萨穆尔森</span></p>
                            <p>时间：<span th:text="${#dates.format(book.createTime,'MM-dd')}">02-02</span></p>
                        </div>
                        <div class="col-sm-4" th:remove="all">
                            <img src="img/img01.jpg" alt="">
                            <h3>魔鬼经济学</h3>
                            <p>作者：保罗*萨穆尔森</p>
                            <p>时间：02-02</p>
                        </div>
                        <div class="col-sm-4" th:remove="all">
                            <img src="img/img01.jpg" alt="">
                            <h3>魔鬼经济学</h3>
                            <p>作者：保罗*萨穆尔森</p>
                            <p>时间：02-02</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4" th:each="book:${bookList2}">
                            <img src="img/img01.jpg" th:height="130" alt=""
                                 th:src="${book.path == null}?@{/templates/pc/img/img01.jpg}:@{/file/getfile(path=${book.path})}">
                            <h3 th:text="${book.name}">魔鬼经济学</h3>
                            <p>作者：<span th:text="${book.author}">保罗*萨穆尔森</span></p>
                            <p>时间：<span th:text="${#dates.format(book.createTime,'MM-dd')}">02-02</span></p>
                        </div>
                        <div class="col-sm-4" th:remove="all">
                            <img src="img/img01.jpg" alt="">
                            <h3>魔鬼经济学</h3>
                            <p>作者：保罗*萨穆尔森</p>
                            <p>时间：02-02</p>
                        </div>
                        <div class="col-sm-4" th:remove="all">
                            <img src="img/img01.jpg" alt="">
                            <h3>魔鬼经济学</h3>
                            <p>作者：保罗*萨穆尔森</p>
                            <p>时间：02-02</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4" th:each="book:${bookList3}">
                            <img src="img/img01.jpg" th:height="130" alt=""
                                 th:src="${book.path == null}?@{/templates/pc/img/img01.jpg}:@{/file/getfile(path=${book.path})}">
                            <h3 th:text="${book.name}">魔鬼经济学4</h3>
                            <p>作者：<span th:text="${book.author}">保罗*萨穆尔森</span></p>
                            <p>时间：<span th:text="${#dates.format(book.createTime,'MM-dd')}">02-02</span></p>
                        </div>
                        <div class="col-sm-4" th:remove="all">
                            <img src="img/img01.jpg" alt="">
                            <h3>魔鬼经济学4</h3>
                            <p>作者：保罗*萨穆尔森</p>
                            <p>时间：02-02</p>
                        </div>
                        <div class="col-sm-4" th:remove="all">
                            <img src="img/img01.jpg" alt="">
                            <h3>魔鬼经济学4</h3>
                            <p>作者：保罗*萨穆尔森</p>
                            <p>时间：02-02</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4" th:each="book:${bookList4}">
                            <img src="img/img01.jpg" th:height="130" alt=""
                                 th:src="${book.path == null}?@{/templates/pc/img/img01.jpg}:@{/file/getfile(path=${book.path})}">
                            <h3 th:text="${book.name}">魔鬼经济学4</h3>
                            <p>作者：<span th:text="${book.author}">保罗*萨穆尔森</span></p>
                            <p>时间：<span th:text="${#dates.format(book.createTime,'MM-dd')}">02-02</span></p>
                        </div>
                        <div class="col-sm-4" th:remove="all">
                            <img src="img/img01.jpg" alt="">
                            <h3>魔鬼经济学4</h3>
                            <p>作者：保罗*萨穆尔森</p>
                            <p>时间：02-02</p>
                        </div>
                        <div class="col-sm-4" th:remove="all">
                            <img src="img/img01.jpg" alt="">
                            <h3>魔鬼经济学4</h3>
                            <p>作者：保罗*萨穆尔森</p>
                            <p>时间：02-02</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav01">
                <a onclick="window.history.go(-1);" class="right">返回></a>
                <nav aria-label="Page navigation">
                    <ul class="pagination" th:replace="pc/首页--搜索::pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">7</a></li>
                        <li><a href="#">8</a></li>
                        <li><a href="#">9</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</section>
<footer th:replace="pc/index::index_footer">
    <div class="container" th:replace="pc/index::top">
        <div class="footer-nav row">
            <div class="col-sm-3">
                <div>
                    <h3><img src="img/aboutUs.png" alt=""></h3>
                    <p>出品单位:山东省方志馆</p>
                    <p>济南市历下区旅游路25998号</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div>
                    <h3><img src="img/function.png" alt=""></h3>
                    <p>使用过程中遇到的问题，包括产品描述、</p>
                    <p> 使用方法、功能介绍、报告解读，都可以</p>
                    <p> 在这找到答案</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div>
                    <h3><img src="img/contactUs.png" alt=""></h3>
                    <p>0531-82622872</p>
                    <p>Email:fzg@dfz.cn</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div>
                    <h3><img src="img/webapp.png" alt=""></h3>
                    <img src="img/qrcode.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <p class="footer-text">出品单位：济南方志馆 &nbsp;&nbsp;&nbsp;&nbsp; 未经同意，不得转载本网站之所有信息及作品</p>
</footer>
<script src="js/jquery.min.js" th:src="@{/templates/pc/js/jquery.min.js}"></script>
<script type="text/javascript" src="js/bootstrap.min.js" th:src="@{/templates/pc/js/bootstrap.min.js}"></script>
<script>
    var formId = "searchXinYuan";
</script>
<script th:replace="pc/首页--搜索::js_page">

</script>
</body>
</html>