<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/templates/app/css/bootstrap.min.css}">
    <link rel="stylesheet" href="css/common.css" th:href="@{/templates/app/css/common.css}">
    <link rel="stylesheet" href="css/style.css" th:href="@{/templates/app/css/style.css}">
</head>
<body>
<header>
    <div class="header-bg">
        <a class="left" href="" th:href="@{/m/tosetting}">
            <i class="glyphicon glyphicon-menu-left"></i>
        </a>
        <p class="header-title">
            关于我们
        </p>
    </div>
</header>
<p style="background:#F0EFF5;margin:0;height:.5rem;"></p>
<section>
    <div class="container">
        <p style=" text-indent:2em;padding-top: 1rem">
            本协议为您与***平台签订的契约，具有合同的法律效力，请您仔细阅读本协议为您与***平台签订的契约，具有合同的法律效力请您仔细阅读。本协议为您与***平台签订的契约，具有合同的法律效力，请您仔细阅读。
        </p>
    </div>
</section>

<script src="js/jquery.min.js" th:href="@{/templates/app/js/jquery.min.js}"></script>
<script src="js/bootstrap.min.js" th:href="@{/templates/app/js/bootstrap.min.js}"></script>
<script src="js/common.js" th:href="@{/templates/app/js/common.js}"></script>
</body>
</html>