<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/templates/app/css/bootstrap.min.css}">
    <link rel="stylesheet" href="css/common.css" th:href="@{/templates/app/css/common.css}">
    <link rel="stylesheet" href="css/style.css" th:href="@{/templates/app/css/style.css}">
    <style>
        .form-control{
            background:#F1F1F1;
            border-radius: 0;
            border:none;
        }
        .form-group{
            border:0;
        }
        .file01 {
            width:100%;
            height:100%;
            display: block;
            position: absolute;
            top: 0;
            opacity: 0;
            cursor: pointer;
        }
    </style>
</head>
<body>
<header>
    <div class="header-bg">
        <a class="left" href="" th:href="@{/m/tosetting}">
            <i class="glyphicon glyphicon-menu-left"></i>
        </a>
        <p class="header-title">意见反馈</p>
        <p href="" class="right" style="margin-top: -24px;">提交</p>
    </div>
</header>
<p style="background: #F1F1F1;height: 0.5rem;margin:0"></p>
<section style="padding-top: 1rem">
    <div class="container">
        <form action=""  id="form-feedback" enctype="multipart/form-data" th:method="post" th:action="@{/m/feedback}" th:object="${feedback}">
            <textarea class="form-control" rows="5" placeholder="请输入您反馈的意见" th:field="*{content}"></textarea>
            <p style="color:red" th:if="${#fields.hasErrors('*{content}')}" th:errors="*{content}"></p>
            <div class="form-group" style="position: relative;margin-top:5px;border: none;">
                <label  style="position: absolute;top:11px;left: 10px;">联系电话:</label>
                <input type="text" class="form-control" placeholder="请输入您的电话" style="padding-left:75px" th:field="*{tel}">
                <p style="color:red" th:if="${#fields.hasErrors('*{tel}')}" th:errors="*{tel}"></p>
            </div>
            <p class="line">
                添加图片
            </p>
            <div class="form-group" >
                <div id="img" class="col-sm-9">
                    <div style="display: inline-block;position: relative;width: 31%;">
                        <img width="100%" src="img/file-upload.jpg" alt="" th:src="@{/templates/app/img/file-upload.jpg}">
                        <input class="file01" type="file" name="imgFiles">
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<script src="js/jquery.min.js" th:src="@{/templates/app/js/jquery.min.js}"></script>
<script src="js/bootstrap.min.js" th:src="@{/templates/app/js/bootstrap.min.js}"></script>
<script src="js/common.js" th:src="@{/templates/app/js/common.js}"></script>
<script>

    $('.right').click(function(){
        $('form').submit();
    })

    //input file 把上传的头像显示出来
//    var num=1;
//    $(document).delegate('.file01','change',function () {
//        var fileValue=$('.file01').val().split("\\")[2];
//        var file = this.files[0];
//        if(!/image\/\w+/.test(file.type)){
//            alert("请确保文件为图像类型");
//            return false;
//        }
//        var reader = new FileReader();
//        reader.readAsDataURL(file);
//        reader.onload = function(e){
//            $('#img div:nth-child('+num+') img').attr('src',this.result)
//            var img='<div style="display: inline-block;position: relative;width: 31%;"><img width="100%" src="/templates/app/img/file-upload.jpg" alt=""><input class="file01" type="file" name="imgFiles"></div>';
//            $('#img').append(img);
//            $(document).delegate('.remove','click',function(){
//                $(this).parent().remove();
//            })
//            num++;
//        }
//    })

    //input file 把上传的头像显示出来
    var num=1;
    $(document).delegate('.file01','change',function () {
        var fileValue=$('.file01').val().split("\\")[2];
        var file = this.files[0];
        if(!/image\/\w+/.test(file.type)){
            alert("请确保文件为图像类型");
            return false;
        }
        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function(e){
            $('#img div:nth-child('+num+') img').attr('src',this.result)
            $('#img div:nth-child('+num+') input').css('display','none');
            var remove='<i style="position: absolute;display: block;top: -8px;right: -10px;font-size: 18px;" class="glyphicon glyphicon-remove-circle remove"></i>';
            $('#img div:nth-child('+num+')').append(remove);
            var img='<div style="display: inline-block;position: relative;width: 31%;margin-right: 5px"><img width="100%" src="/templates/app/img/file-upload.jpg" alt=""><input class="file01" type="file" name="imgFiles"></div>';
            $('#img').append(img);
            num++;
            console.log(num)
        }
    })
    $(document).delegate('.remove','click',function(){
        num--;
        $(this).parent().remove();
        console.log(num)
    })
</script>
</body>
</html>