<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/templates/app/css/bootstrap.min.css}">
    <link rel="stylesheet" href="css/common.css" th:href="@{/templates/app/css/common.css}">
    <link rel="stylesheet" href="css/style.css" th:href="@{/templates/app/css/style.css}">
    <style>
        .form-group {
            position: relative;
            margin-top: 5px;
            border: none;
        }

        .form-control {
            background: #F1F1F1;
            border-radius: 0;
            border: none;
        }

        .file01 {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            opacity: 0;
            cursor: pointer;
        }
    </style>
</head>
<body>
<header>
    <div class="header-bg">
        <a class="left" href="" th:href="@{/m/user/tomybooksdesired}">
            <i class="glyphicon glyphicon-menu-left"></i>
        </a>
        <p class="header-title">添加心愿书单</p>
    </div>
</header>
<section>
    <div class="container">
        <img width="30%" src="img/xinyuanshudan.jpg" style="padding: 1rem 0;" alt=""  th:src="@{/templates/app/img/xinyuanshudan.jpg}">
        <form action="" enctype="multipart/form-data"  th:method="post"  th:action="@{/m/user/mybooksdesiredadd}" th:object="${desire}">
            <div class="form-group">
                <label style="position: absolute;top:11px;left: 10px;">书名:</label>
                <input type="text" class="form-control" style="padding-left:50px" th:field="*{name}">
                <p style="color:red" th:if="${#fields.hasErrors('*{name}')}" th:errors="*{name}"></p>
            </div>
            <div class="form-group">
                <label style="position: absolute;top:11px;left: 10px;">作者:</label>
                <input type="text" class="form-control" style="padding-left:50px" th:field="*{author}">
                <p style="color:red" th:if="${#fields.hasErrors('*{author}')}" th:errors="*{author}"></p>
            </div>
            <p style="margin: 2rem 0 1rem;color:#633b39;">添加图片</p>
            <div class="form-group">
                <div id="img" class="col-sm-9">
                    <div style="display: inline-block;position: relative;width: 31%;">
                            <input class="file01 file" type="file" name="imgFiles">
                            <img width="100%" src="img/file-upload.jpg" alt=""  th:src="@{/templates/app/img/file-upload.jpg}">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-danger btn-lg btn-block register" style="margin: 1rem 0;">保存</button>
        </form>
    </div>
</section>
<script src="js/jquery.min.js" th:src="@{/templates/app/js/jquery.min.js}"></script>
<script src="js/bootstrap.min.js" th:src="@{/templates/app/js/bootstrap.min.js}"></script>
<script src="layer_mobile/layer.js" th:src="@{/templates/app/layer_mobile/layer.js}"></script>
<script src="js/common.js" th:src="@{/templates/app/js/common.js}"></script>
<script>
    //    $('.register').click(function(){
    //        //询问框
    //        layer.open({
    //            content: '<p>保存成功!</p>到心愿书单看看'
    //            ,btn: ['确定', '取消']
    //            ,yes: function(index){
    //                //点击‘去认证’后的处理代码在这里写
    //                layer.close(index);
    //            }
    //        });
    //    })

    //input file 把上传的头像显示出来
    //    $('.file01').change(function () {
    //        var file = this.files[0];
    //        if(!/image\/\w+/.test(file.type)){
    //            alert("请确保文件为图像类型");
    //            return false;
    //        }
    //        var reader = new FileReader();
    //        reader.readAsDataURL(file);
    //        reader.onload = function(e){
    //            var img='<div style="display: inline-block;margin-right:5px;position: relative;width:31%;"><img width="100%" src="'+this.result+'" style="vertical-align: top;" width="149" height="113"><i style="position: absolute;display: block;top: -8px;right: -10px;font-size: 18px;" class="glyphicon glyphicon-remove-circle remove"></i></div>'
    //            $('#img').prepend(img);
    //            $(document).delegate('.remove','click',function(){
    //                $(this).parent().remove();
    //            })
    //        }
    //    })
    $('.file').change(function () {
        var file = this.files[0];
        if (!/image\/\w+/.test(file.type)) {
            alert("请确保文件为图像类型");
            return false;
        }
        var that = $(this);
        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function (e) {
            $(that).next().attr('src', this.result)
        }
    })
</script>
</body>
</html>