<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/templates/app/css/bootstrap.min.css}">
    <link rel="stylesheet" href="css/common.css" th:href="@{/templates/app/css/common.css}">
    <link rel="stylesheet" href="css/style.css" th:href="@{/templates/app/css/style.css}">
    <style>
        .form-group {
            position: relative;
            margin-top: 5px;
            border: none;
        }
        .form-control {
            background: #F1F1F1;
            border-radius: 0;
            border: none;
        }
    </style>
</head>
<body>
<header>
    <div class="header-bg">
        <a class="left" href="" th:href="@{/m/user/toshippingaddress}">
            <i class="glyphicon glyphicon-menu-left"></i>
        </a>
        <p class="header-title">添加新地址</p>
    </div>
</header>
<section>
    <div class="container">
        <form action="" th:method="post" th:action="@{'/m/user/addshippingaddress/'+${address.id}}" th:object="${address}" th:fragment="addshippingaddress">
            <div class="form-group">
                <label style="position: absolute;top:11px;left: 10px;">收件人姓名:</label>
                <input type="text"  class="form-control" style="padding-left:90px" th:field="*{name}">
                <p style="color:red" th:if="${#fields.hasErrors('*{name}')}" th:errors="*{name}"></p>
            </div>
            <div class="form-group">
                <label style="position: absolute;top:11px;left: 10px;">收件人电话:</label>
                <input type="text"  class="form-control" style="padding-left:90px" th:field="*{mobile}">
                <p style="color:red" th:if="${#fields.hasErrors('*{mobile}')}" th:errors="*{mobile}"></p>
            </div>
            <div class="form-group">
                <label style="position: absolute;top:11px;left: 10px;">邮编:</label>
                <input type="text"  class="form-control" style="padding-left:50px" th:field="*{postCode}">
                <p style="color:red" th:if="${#fields.hasErrors('*{postCode}')}" th:errors="*{postCode}"></p>
            </div>
            <div class="form-group">
                <label style="position: absolute;top:11px;left: 10px;">详细地址:</label>
                <textarea class="form-control" rows="5" style="padding-left: 75px" th:field="*{region}"></textarea>
                <p style="color:red" th:if="${#fields.hasErrors('*{region}')}" th:errors="*{region}"></p>
            </div>
            <button type="submit" class="btn btn-danger btn-lg btn-block register" style="margin: 1rem 0;">保存</button>
        </form>
    </div>
</section>
<script src="js/jquery.min.js" th:src="@{/templates/app/js/jquery.min.js}"></script>
<script src="js/bootstrap.min.js" th:src="@{/templates/js/bootstrap.min.js}"></script>
<script src="js/common.js" th:src="@{/templates/app/js/common.js}"></script>
</body>
</html>