.input-group input{
    border-radius: 0;
    height: 45px;
    background: rgba(225,225,225,0.9);
    border: 2px solid #88654F;
    border-right: none;
}
.input-group span{
    border-radius: 0;
    padding: 12px 18px;
    border: 2px solid #88654F;
    border-left: none;
    background: #EA4235;
    cursor: pointer;
}
.col-sm-4 img{
    width:100%;
    margin-bottom:5px;
}
.row{
    margin-top: 20px;
}
.mian-bg{
    background:url("../img/index-bg-mian.jpg");
    min-height:550px;
}

